<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>{% if page.title %}{{ page.title }} | {% endif %}{{ site.title }}—关注JAVA,jQuery!</title>
    <meta name="360-site-verification" content="b6f6557b6d7a0c62dc697f9e388fb50c" />
    <meta name="author" content="luckystar" />
    <meta name="description" content="{% if page.description %}{{ page.description }}{% else %}Luckystar's Blog，Java,前端，Server{% endif %}" />
    <meta name="keywords" content="关注JAVA,jQuery{% for tag in page.tags %},{{tag}}{% endfor %}" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">
    <meta name="ujianVerification" content="bea643187c1811db5746af61673fbaf1" />
    <link rel="stylesheet" href="/css/default.css" type="text/css" />
    <link rel="alternate" type="application/atom+xml" title="Recent Entries" href="{{ site.feed }}" />
    <script src="/js/jquery-1.7.1.min.js" type="text/javascript"></script>
    <script>
        var _hmt = _hmt || [];
        (function() {
          var hm = document.createElement("script");
          hm.src = "//hm.baidu.com/hm.js?9b6c43b967f1ff7dcaf4ac9612c46f5a";
          var s = document.getElementsByTagName("script")[0]; 
          s.parentNode.insertBefore(hm, s);
        })();
    </script>

</head>
<body>

